.userpoints{
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.userpoints .user{
  height: 100%;
  width: 20vw;
  max-width: 120px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user .user-icon {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 15px;
}
